{% extends 'allianceauth/base-bs5.html' %}
{% load i18n %}

{% block page_title %}{% block moon_title %}{% endblock %} - {% translate "Moonstuff" %}{% endblock %}

{% block header_nav_brand %}
    {% translate "Moonstuff" %}
{% endblock %}

{% block header_nav_collapse_left %}
         {% if perms.moonstuff.add_trackingcharacter %}
             <li class="nav-item">
                 <a class="nav-link" href="{% url 'moonstuff:add_character' %}">{# <i class="fa-solid fa-users-rays"></i> #} {% translate "Add Tracking Character" %}</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="{% url 'moonstuff:add_scan' %}">{# <i class="fa-solid fa-satellite-dish"></i> #}{% translate "Add Moon Scan" %}</a>
             </li>
        {% endif %}
{% endblock %}

{% block content %}
    <div class="col-lg-12" style="padding: 0 !important;">
        <br />
        <div class="col-lg-12 container-fluid">
            {% block moon_block %}{% endblock %}
        </div>
    </div>
{% endblock %}